* {
  box-sizing: border-box;
}
.cart-product {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  height: 250px;
  font-family: Montserrat;
  font-weight: 500;
  font-style: italic;
  position: relative;
  background-color: rgb(140, 140, 204);
  padding: 40px 40px;
  margin-top: 20px;
}
.cart-product img {
  max-height: 100%;
}

.cart-product p {
  align-self: center;
}

.add-remove {
  align-self: center;
  position: absolute;
  right: 20px;
}

.add-remove button {
  width: 50px;
  padding: 5px 5px;
  cursor: pointer;
}
.add-remove span {
  margin-left: 20px;
  margin-right: 20px;
}
